@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Lora:wght@500&family=Yuji+Syuku&display=swap");
.center {
  text-align: center;
  color: #66fcf1;
}

.box {
  width: 50%;
  color: #66fcf1;

  margin: 3% auto 5%;
}
.button {
  background-color: #66fcf1;
  border-radius: 5px;
  border: 3px solid #1f2831;
  color: #1f2831;

  text-align: center;
  font-size: 1rem;
  font-weight: 525;
  text-decoration: none;
  margin: 3%;
  padding: 4%;
}

.button:focus,
.button:hover {
  background-color: FireBrick;
  color: White;
}

.btn {
  font-size: 1.5rem;
  margin-top: 15px;
  background-color: white;
  border-radius: 5px;
}

.desc {
  font-size: 1.2rem;
}
