

.expenses_filter {
  padding: 0 1rem;
  display: grid;
  align-items: center;
  justify-content: center;
}

.control {
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
}

.label {
  text-align: center;
  font-size: 1.5rem;
  padding-bottom: rem;
}

.expenses_filter select {
  font: inherit;
  padding: 0.5rem 3rem;
  font-weight: bold;
  border-radius: 6px;
}
