@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Lobster&family=Lora:wght@500&family=Yuji+Syuku&display=swap");

.header {
  color: #66fcf1;
  width: 100%;
  top: 0;
  height: 65px;
  line-height: 70px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background-color: #1f2833;
}

.link {
  text-decoration: none;
  font-family: "Dancing Script", cursive;
  letter-spacing: 2px;
  color: #66fcf1;
  font-size: 30px;
  font-weight: 600;
}

.fav {
  float: right;
  margin-right: 2rem;
}
.favIcon {
  color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 5px;
  border-radius: 50%;
  background-color: #66fcf1;
  margin-top: 10px;
  font-size: 40px;
}
.foodIcon {
  color: #fff;
  margin-left: 2%;
}
