.input {
  border: 2px solid #aaa;
  border-radius: 4px;
  margin: 25px 0;
  min-width: 40vw;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: 0.3s;
  display: inline-block;
  border-color: #1f2823;
}

::placeholder {
  color: #1f2823;
  font-weight: 525;
}

.input:focus {
  border-color: #1f2823;
  box-shadow: 0 0 8px 0 #66fcf1;
}

.box {
  text-align: center;
}
